@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Lato, sans-serif;
  background: #dbdde2;
}

.container {
  margin: 0 auto;
}
